In [40]:
import pandas as pd
import numpy as np

In [87]:
# Подготовка данных для выполнения задания
df = pd.read_csv('horse_data.csv', names =('1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21',
       '22', '23', '24', '25', '26', '27', '28' ))

# Выбор 8 столбцов для дальнейшего анализа и переименование их названий
new_df = df.loc[:, ['1', '2', '4', '5', '6', '10', '16', '17']]
new_df.rename(columns={'1':'Surgery', '2': 'Age', '4': 'Temp', '5': 'Heart', '6': 'Breath', '10': 'Capillary', '16':'Reflux', '17':'Kal'}, inplace = True)

# Меняю "?" на NaN
df_nan = new_df.replace(to_replace = '?', value = np.NaN)

# Меняю тип данных у не числовых столбцов на float
df_nan['Surgery'] = df_nan.Surgery.astype('float')
df_nan['Temp'] = df_nan.Temp.astype('float')
df_nan['Heart'] = df_nan.Heart.astype('float')
df_nan['Breath'] = df_nan.Breath.astype('float')
df_nan['Capillary'] = df_nan.Capillary.astype('float')
df_nan['Reflux'] = df_nan.Reflux.astype('float')
df_nan['Kal'] = df_nan.Kal.astype('float')

In [88]:
# Задание 1. Бозовые метрики
#
df_nan.describe()

,Surgery,Age,Temp,Heart,Breath,Capillary,Reflux,Kal
count,299.000000,300.000000,240.000000,276.000000,242.000000,268.000000,53.000000,198.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,1.305970,4.707547,2.757576
std,0.490305,2.173972,0.732289,28.630557,17.642231,0.477629,1.982311,1.251119
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,3.000000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,1.000000,5.000000,3.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,2.000000,6.500000,4.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,3.000000,7.500000,4.000000

In [49]:

df_nan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   surgery    299 non-null    object
 1   Age        300 non-null    int64
 2   Temp       240 non-null    object
 3   Heart      276 non-null    object
 4   Breath     242 non-null    object
 5   Capillary  268 non-null    object
 6   Reflux     53 non-null     object
 7   Kal        198 non-null    object
dtypes: int64(1), object(7)
memory usage: 18.9+ KB